.header {
  display: flex;
  padding: 20px 0;
  justify-content: center;
  background-color: #ddd;
  .content {
    display: flex;
    align-items: center;
    gap: 20px;
    span {
      font-weight: bold;
    }
  }
}

.address-detail-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  .address-detail {
    width: 510px;
    margin: 50px 0;
    display: flex;
    .information {
      width: 100%;
      padding: 10px;
      border: 3px solid #000;
      border-top: 1px solid #000;
      position: relative;
      .delete {
        button {
          cursor: pointer;
          position: absolute;
          top: 10px;
          left: 10px;
          padding: 5px;
          font-weight: bold;
          background-color: transparent;
          font-size: 18px;
          border: none;
        }
      }
      .edit {
        @extend .delete;
        button {
          right: 10px;
          left: auto;
        }
      }
      .title-and-rating {
        position: relative;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        button {
          position: absolute;
          right: 0px;
          top: 15px;
          background-color: transparent;
          border: none;
          font-weight: bold;
          font-size: 1.2rem;
        }
      }
      .rating-text {
        display: flex;
        justify-content: flex-end;
        p {
          margin: 0;
        }
      }
      .overview {
        p {
          font-size: 1.2rem;
        }
      }
    }
  }
}

.buttons {
  margin-top: 30px;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  .create {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .back {
    @extend .create;
    background-color: #d8d8d8;
    color: #000;
  }
}
